<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Categories - Index</title>
</head>
<body>
    <h1>Categories</h1>
    <a href="/categories/new">New Category</a>
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Items</th>
            <th>Actions</th>
        </thead>
        <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= category.id %></td>
                <td><%= category.name %></td>
                <td>
                    <a href="/categories/<%= "#{category.id}" %>/items">
                        View items
                    </a>
                </td>
                <td>
                    <a href="/categories/<%= "#{category.id}" %>/edit">
                        <button>Edit</button>
                    </a>
                    <form action="/categories/<%= "#{category.id}" %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</body>
</html>
